figure {
    margin: 0!important;
}

#video-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

#video {
    width: 100%;
}

#video-not-playing-overlay {
    pointer-events: none;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-not-playing-overlay .circle-icon-wrapper {
    border-radius: 5rem;
    background: white;
}

#video-not-playing-overlay .circle-icon-wrapper svg {
    font-size: 10rem;
}

#timeline-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 0.25rem;
    z-index: 10000;
}

#timeline-container input {
    height: 0.25rem;
}

figure:hover #video-controls {
    pointer-events: auto;
}

figure #video-controls {
    pointer-events: none;
}

figure:hover .button-bar, figure:hover #title-box {
    opacity: 1;
    height: 3em;
    /* visibility: visible; */
}

#title-box, .button-bar {
    opacity: 0;
    height: 0;
    transition: all 0.2s ease-in-out;
    /* visibility: hidden; */
}

#title-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2) 80%, rgba(0,0,0,0) 100%);
    color: white;
}

#video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    z-index: 1;
    color: #ffffff;
}

.button-bar {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-bar button, .button-bar button:active, .button-bar button:focus {
    border: 0;
    margin: 0.5em;
    background: none;
    outline: none;
    color: inherit;
}


#time-display {
    align-self: center;
    font-weight: 200;
}

#time-display {
    padding-left: 1em;
}

#playback-button {
    width: 8ch;
}


.controls #timeline-container input:hover {
    cursor: pointer;
}

button[data-state="active"], button > *[data-state="active"] {
    color: #0095dd;
}

.controls progress {
    display:block;
    width:100%;
    margin-top:0.125rem;
    border:none;
    color:#0095dd;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
.controls progress[data-state="fake"] {
    background:#e6e6e6;
    height:65%;
 }
 .controls progress span {
    width:0%;
    height:100%;
    display:inline-block;
    background-color:#2a84cd;  
}
 .controls progress::-moz-progress-bar {
    background-color:#0095dd;
}
 
 .controls progress::-webkit-progress-value {
    background-color:#0095dd;
}

input:focus {
    outline: none;
}

#video-controls button:focus {
    box-shadow: none;
}

/* WebVTT cues */
::cue { 
	color:#ccc;
}

#feedback-popover > .popover-body {
    padding: 0;
}

.arrow {
    display: none !important;
}

#thumbnail-tool-tip .tooltip-inner {
    padding: 0;
}

.tooltip {
    pointer-events: none;
}

.video-cue-container {
    position: absolute;
    right: 20%;
    left: 20%;
    bottom: 2em;
    pointer-events: "none";
    transition: all 0.2s ease-in-out;
}

figure:hover .video-cue-container {
    bottom: 4em;
}

.video-cue-text {
    width: 100%;
    text-align: center;
    color: white;
}

@media (min-width: 1200px) {
    .video-cue-text {
        font-size: 32px;
    }
}


@media (max-width: 1200px) {
    .video-cue-text {
        font-size: 24px;
    }
}

#thumbnail-tool-tip {
    opacity: 1!important;
}