#video {
    width: 100%;
}

.timeline {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.button-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background: #ffffff; */
    border: 1px solid #dfdfdf;
    color: #000000;
    fill: #000000;
}

.button-bar button, .button-bar button:active, .button-bar button:focus {
    border: 0;
    padding: 0.5em;
    background: none;
    outline: none;
}


#time-display {
    align-self: center;
    font-weight: 200;
}

.button-bar-right > div, .button-bar-right > button, .button-bar-left > button {
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}

#time-display {
    padding-left: 1em;
}

#playback-container .btn-group button:first-child {
    width: 4em;
    border-right: 1px solid #dfdfdf;
}

#volume-controls {
    padding-right: 1em;
    display: flex;
}

.controls progress:hover {
    cursor: pointer;
}

button[data-state="active"] {
    color: #0095dd;
}

.controls progress {
    display:block;
    width:100%;
    margin-top:0.125rem;
    border:none;
    color:#0095dd;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
.controls progress[data-state="fake"] {
    background:#e6e6e6;
    height:65%;
 }
 .controls progress span {
    width:0%;
    height:100%;
    display:inline-block;
    background-color:#2a84cd;  
}
 .controls progress::-moz-progress-bar {
    background-color:#0095dd;
}
 
 .controls progress::-webkit-progress-value {
    background-color:#0095dd;
}

/* WebVTT cues */
::cue { 
	color:#ccc;
}