#video-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

#video {
    width: 100%;
}

#timeline-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: -0.5em;
    position: relative;
}

#video-container {
    padding-bottom: 3em;
}

#video-controls {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    z-index: 1;
    color: #ffffff;
}

.button-bar {
    line-height: 2em;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-bar button, .button-bar button:active, .button-bar button:focus {
    border: 0;
    margin: 0.5em;
    background: none;
    outline: none;
    color: inherit;
}


#time-display {
    align-self: center;
    font-weight: 200;
}

#time-display {
    padding-left: 1em;
}

#playback-container .btn-group {
    height:100%;
}

#playback-container .btn-group button:first-child {
    width: 4em;
}

#volume-controls {
    padding-right: 1em;
    display: flex;
}

.controls #timeline-container input:hover {
    cursor: pointer;
}

button[data-state="active"], button > *[data-state="active"] {
    color: #0095dd;
}

.controls progress {
    display:block;
    width:100%;
    margin-top:0.125rem;
    border:none;
    color:#0095dd;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
.controls progress[data-state="fake"] {
    background:#e6e6e6;
    height:65%;
 }
 .controls progress span {
    width:0%;
    height:100%;
    display:inline-block;
    background-color:#2a84cd;  
}
 .controls progress::-moz-progress-bar {
    background-color:#0095dd;
}
 
 .controls progress::-webkit-progress-value {
    background-color:#0095dd;
}

input:focus {
    outline: none;
}

#video-controls button:focus {
    box-shadow: none;
}

/* WebVTT cues */
::cue { 
	color:#ccc;
}

#feedback-popover > .popover-body {
    padding: 0;
}

.arrow {
    display: none !important;
}

#thumbnail-tool-tip .tooltip-inner {
    padding: 0;
}